<div class="top-bar">

        <h1>ระบบการยืม-คืน</h1>

        <div class="top-right">
            <div class="admin-box">
                <span>Admin</span>
                <i class="fa-solid fa-user"></i>
            </div>

            <div class="logo-box">
                <img src="/images/logo.png">
            </div>
        </div>

    </div>

<!-- dashboard -->
<div class="dashboard">

  <div class="card card-blue">
    <h3>อุปกรณ์ทั้งหมด</h3>
    <img src="/images/icon2.png">
    <div class="num"><%= deviceTotal.total %></div>
  </div>

  <div class="card card-yellow">
    <h3>รอตรวจสอบ</h3>
    <img src="/images/icon1.png">
    <div class="num"><%= pending.total %></div>
  </div>

  <div class="card card-red">
    <h3>ไม่อนุมัติ</h3>
    <img src="/images/icon3.png">
    <div class="num"><%= rejected.total %></div>
  </div>

  <div class="card card-green">
    <h3>อนุมัติ</h3>
    <img src="/images/icon4.png">
    <div class="num"><%= approved.total %></div>
  </div>

  <div class="card card-purple">
    <h3>คืนแล้ว</h3>
    <img src="/images/icon5.png">
    <div class="num"><%= returned.total %></div>
  </div>

  <div class="card card-orange">
    <h3>เกินกำหนดคืน</h3>
    <img src="/images/icon6.png">
    <div class="num text-red"><%= overdue.total %></div>
  </div>

  <div class="card card-teal">
    <h3>ยอดอุปกรณ์คงเหลือ</h3>
    <img src="/images/icon7.png">
    <div class="num"><%= availableDevice.total %></div>
  </div>

  <div class="card card-gray">
    <h3>พนักงาน</h3>
    <img src="/images/icon8.png">
    <div class="num"><%= employeeTotal.total %></div>
  </div>

</div>

<!-- graph section -->
<div class="dashboard-graphs">

  <div class="graph-box">
    <h3>สรุปสถานะการยืม</h3>
    <canvas id="borrowChart"
    data-approved="<%= approved.total %>"
    data-pending="<%= pending.total %>"
    data-rejected="<%= rejected.total %>"
    data-returned="<%= returned.total %>">
    data-overdue="<%= overdue.total %>">
    </canvas>
  </div>

  <div class="graph-box">
    <h3>สถานะอุปกรณ์</h3>
    <canvas id="deviceChart"
      data-available="<%= availableDevice.total %>"
      data-borrowed="<%= approved.total %>"
      data-repair="0">
      </canvas>
  </div>

</div>
